@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #233142;
    --foreground: #333;
    --card: #fff;
  }

  *,
  ::after,
  ::before {
    @apply m-0 p-0 border-0;
  }

  body {
    @apply bg-background text-foreground text-[13px] leading-4 h-[100vh];
  }
}
