@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::after,
  ::before {
    @apply m-0 p-0 border-border;
  }

  body {
    @apply bg-background text-foreground text-base leading-4 h-[100vh];
  }

  :root {
    /* slate-50 */
    --background: #f8fafc;
    /* slate-900 */
    --foreground: #0f1729;
    /* white */
    --card: #ffffff;
    /* slate-900 */
    --card-foreground: #0f1729;
    /* slate-900 */
    --popover: #ffffff;
    /* slate-50 */
    --popover-foreground: #0f1729;
    /* purple-500 */
    --primary: #a855f7;
    /* slate-50 */
    --primary-foreground: #f8fafc;
    /* purple-600 */
    --secondary: #9234ea;
    /* slate-50 */
    --secondary-foreground: #f8fafc;
    /* slate-200 */
    --muted: #e2e8f0;
    /* slate-900 */
    --muted-foreground: #0f1729;
    /* slate-500 */
    --accent: #64748b;
    /* slate-50 */
    --accent-foreground: #f8fafc;
    /* rose-500 */
    --destructive: #f43e5c;
    /* slate-50 */
    --destructive-foreground: #f8fafc;
    /* emerald-500 */
    --success: #10b981;
    /* slate-50 */
    --success-foreground: #f8fafc;
    /* slate-200 */
    --border: #e2e8f0;
    /* slate-50 */
    --input: #f8fafc;
    /* purple-500 */
    --ring: #a855f7;
    --radius: 0.5rem;
  }
}

@layer components {
  .button-text {
    @apply bg-background hover:bg-muted focus:bg-muted rounded-md transition-colors inline-flex gap-1 items-center p-2 justify-center;
  }
}
